:root {
    --bs-blue-100: #a8cbfe;
    --bs-blue-200: #81b4fe;
    --bs-blue-300: #5a9cfe;
    --bs-blue-400: #3485fd;
    --bs-blue-500: #0d6efd;
    --bs-blue-600: #0b5cd5;
    --bs-blue-700: #094bac;
    --bs-blue-800: #073984;
    --bs-blue-900: #05285b;
    --bs-indigo-100: #c8a9fa;
    --bs-indigo-200: #af83f8;
    --bs-indigo-300: #975cf6;
    --bs-indigo-400: #7e36f4;
    --bs-indigo-500: #6610f2;
    --bs-indigo-600: #560dcb;
    --bs-indigo-700: #450ba5;
    --bs-indigo-800: #35087e;
    --bs-indigo-900: #250657;
    --bs-purple-100: #cbbbe9;
    --bs-purple-200: #b49ddf;
    --bs-purple-300: #9d7ed5;
    --bs-purple-400: #8660cb;
    --bs-purple-500: #6f42c1;
    --bs-purple-600: #5d37a2;
    --bs-purple-700: #4b2d83;
    --bs-purple-800: #3a2264;
    --bs-purple-900: #281845;
    --bs-pink-100: #f0b6d3;
    --bs-pink-200: #ea95bf;
    --bs-pink-300: #e374ab;
    --bs-pink-400: #dd5498;
    --bs-pink-500: #d63384;
    --bs-pink-600: #b42b6f;
    --bs-pink-700: #92235a;
    --bs-pink-800: #6f1b45;
    --bs-pink-900: #4d1230;
    --bs-red-100: #f2b6bc;
    --bs-red-200: #ed969e;
    --bs-red-300: #e77681;
    --bs-red-400: #e25563;
    --bs-red-500: #dc3545;
    --bs-red-600: #b92d3a;
    --bs-red-700: #96242f;
    --bs-red-800: #721c24;
    --bs-red-900: #4f1319;
    --bs-orange-100: #fed1aa;
    --bs-orange-200: #febc85;
    --bs-orange-300: #fea75f;
    --bs-orange-400: #fd933a;
    --bs-orange-500: #fd7e14;
    --bs-orange-600: #d56a11;
    --bs-orange-700: #ac560e;
    --bs-orange-800: #84420a;
    --bs-orange-900: #5b2d07;
    --bs-yellow-100: #ffe9a6;
    --bs-yellow-200: #ffdf7e;
    --bs-yellow-300: #ffd556;
    --bs-yellow-400: #ffcb2f;
    --bs-yellow-500: #ffc107;
    --bs-yellow-600: #d6a206;
    --bs-yellow-700: #ad8305;
    --bs-yellow-800: #856404;
    --bs-yellow-900: #5c4503;
    --bs-green-100: #b2dfbc;
    --bs-green-200: #8fd19e;
    --bs-green-300: #6dc381;
    --bs-green-400: #4ab563;
    --bs-green-500: #28a745;
    --bs-green-600: #228c3a;
    --bs-green-700: #1b722f;
    --bs-green-800: #155724;
    --bs-green-900: #0e3c19;
    --bs-teal-100: #afecda;
    --bs-teal-200: #8be3c9;
    --bs-teal-300: #67dab8;
    --bs-teal-400: #44d2a8;
    --bs-teal-500: #20c997;
    --bs-teal-600: #1ba97f;
    --bs-teal-700: #168967;
    --bs-teal-800: #11694f;
    --bs-teal-900: #0c4836;
    --bs-cyan-100: #abdee5;
    --bs-cyan-200: #86cfda;
    --bs-cyan-300: #61c0cf;
    --bs-cyan-400: #3cb1c3;
    --bs-cyan-500: #17a2b8;
    --bs-cyan-600: #13889b;
    --bs-cyan-700: #106e7d;
    --bs-cyan-800: #0c5460;
    --bs-cyan-900: #083a42;

}


pre {
    background: #ddd;
    padding: 10px;
}

h2 {
    margin-top: 20px;
}

footer {
    margin: 20px;
}


div.dt-searchPane div.dataTables_length {
    float: none;
    text-align: center;
}


/*
https://stackoverflow.com/a/31184284
*/
.table td.fit, .table th.fit {
    white-space: nowrap;
    width: 1%;
}
