{% extends 'layout.html' %}

{% block script %}
    <script src="{{ url_for('static', filename='js/main.database.js') }}"></script>
{% endblock %}

{% block style %}
    <style>

    </style>
{% endblock %}

{% block content %}
    <h1>Database</h1>

    <div class="table-responsive text-nowrap" id="table-task-container">
        <table class="table table-bordered display caption-top table-fixed" id="table-task">
            <thead>
                <tr>
                    {% for cname in ["id", "version_id", "dsmall", "json"] %}
                    <th class="text-nowrap" scope="col">{{ cname }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in models.db.get_all() %}
                <tr>
                    <td>{{ row.id }}</td>
                    <td>{{ row.version_id }}</td>
                    <td>{{ row.type }}</td>
                    <td>{{ row.json }}</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>





{% endblock %}
