{% extends 'layout.html' %}

{% block script %}
    <script>
        $(document).ready(function () {
        $('table.table').each(function () {
          let table = $(this).DataTable({
            // dom: 'Plfrtip',  // https://datatables.net/reference/option/dom
            //dom: 'Plrt',
            paging: false,
            info: false,
            bCaseInsensitive: true,
            filter: false,
          });


        });
      });

    </script>
{% endblock %}

{% block style %}
    <style>
    .table-hover tbody tr:hover td, .table-hover tbody tr:hover th { background-color: #cfe2ff; }
    table.table-fit {
        width: auto !important;
        table-layout: auto !important;
    }
    table.table-fit thead th, table.table-fit tfoot th {
        width: auto !important;
    }
    table.table-fit tbody td, table.table-fit tfoot td {
        width: auto !important;
    }
    </style>
{% endblock %}


{% block content %}

    <h1>Info</h1>
    <div id="info_container">
        <table class="table table-bordered display caption-top" id="table_info">
            <thead>
                <tr>
                    {% for header in ["Name", "Value"] %}
                        <th class="text-nowrap" scope="col">{{ header }}</th>
                    {% endfor %}
                </tr>
            </thead>

            <tbody>

                {% for name, value in config_dict.items() %}
                    <tr>
                        <td class="align-middle py-0">{{ name }}</td>
                        <td class="align-middle py-0">{{ xstr(value) }}</td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>

{% endblock %}

